.footer {
    margin-top: 4vh;
    height: 1%;
    background-color: $theme-color-medium;
    color: $theme-color-dark;
    font-weight: 300;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}


.social {
    font-size: 3rem;
    text-align: center;
}
