.categories {
   position: relative;
}

.recipes-panel {
    padding: 2rem;
    margin: 0 auto;
}

.recipe-card {
    height: 100%;
}

.recipes-panel img {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 20%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.recipes-panel h2 {
   width: 100%;
   text-align: center;
   color: $theme-color-dark;
   font-weight: 400;
   font-size: 2rem;
}

.pagination {
    position: absolute;
    color: $theme-color-dark;
    font-size: 6rem;
}

.pagination-arrow-left {
    cursor: pointer;
    float: left;
}

.pagination-arrow-right {
    cursor: pointer;
    float: right;
    right: 0;
}

.recipe-details {
    color: black;
}

.recipe-instructions {
    padding-left: 8rem;
    padding-right: 8rem;
    color: $theme-color-dark;

    h1 {
        font-family: 'Yellowtail', cursive;
        font-weight: 600;
    }
    h3 {
        font-weight: 500;
        color: $theme-color-dark;
    }

    .instructions {
        font-weight: 200;
        color: $theme-color-dark;
    }

    img {
        height: 40rem;
        border-radius: 2rem;
        padding-top: 2rem;
    }

    .ingredients {
        font-weight: 200;
    }
}

.recipe-instructions .back-button {
    .icon {
        margin-top: 2rem;
        padding-right: 2rem;
        font-size: 4rem;
        cursor: pointer;
    }

    span {
        font-size: 4rem;
        cursor: pointer;
    }

}
