
/** Colors**/
$background-color: #fff;
$theme-color-light: #f9ece6;
$theme-color-medium: #f7d9cc;
$theme-color-dark: #c85621;


/**Grid values**/
$grid-width: 160rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 5rem;